# docker/docker-compose.yaml
version: "3.8"

networks:
  redpanda_network:
    driver: bridge

services:
  xzepr:
    build: .
    ports:
      - "8443:8443"
    environment:
      - XZEPR__DATABASE__URL=postgres://xzepr:password@postgres:5432/xzepr
      - XZEPR__KAFKA__BROKERS=redpanda-0:9092
      - XZEPR__AUTH__KEYCLOAK__ISSUER_URL=http://keycloak:8080/realms/xzepr
      - RUST_LOG=info,xzepr=debug
    volumes:
      - ./certs:/app/certs:ro
    networks:
      - redpanda_network
    depends_on:
      - postgres
      - redpanda-0
      - keycloak

  postgres:
    image: postgres:16
    environment:
      - POSTGRES_USER=xzepr
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=xzepr
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    ports:
      - "5432:5432"
    networks:
      - redpanda_network

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    command: start-dev
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://postgres:5432/keycloak
      - KC_DB_USERNAME=xzepr
      - KC_DB_PASSWORD=password
    ports:
      - "8080:8080"
    networks:
      - redpanda_network
    depends_on:
      - postgres

  redpanda-0:
    command:
      - redpanda
      - start
      - --kafka-addr internal://0.0.0.0:9092,external://0.0.0.0:19092
      - --advertise-kafka-addr internal://redpanda-0:9092,external://localhost:19092
      - --pandaproxy-addr internal://0.0.0.0:8082,external://0.0.0.0:18082
      - --advertise-pandaproxy-addr internal://redpanda-0:8082,external://localhost:18082
      - --schema-registry-addr internal://0.0.0.0:8081,external://0.0.0.0:18081
      - --rpc-addr redpanda-0:33145
      - --advertise-rpc-addr redpanda-0:33145
      - --mode dev-container
      - --smp 1
      - --default-log-level=info
    image: docker.redpanda.com/redpandadata/redpanda:${REDPANDA_VERSION:-latest}
    container_name: redpanda-0
    volumes:
      - redpanda_data:/var/lib/redpanda/data
    networks:
      - redpanda_network
    ports:
      - "18081:18081"
      - "18082:18082"
      - "19092:19092"
      - "19644:9644"

  console:
    container_name: redpanda-console
    image: docker.redpanda.com/redpandadata/console:${REDPANDA_CONSOLE_VERSION:-latest}
    networks:
      - redpanda_network
    entrypoint: /bin/sh
    command: -c 'echo "$$CONSOLE_CONFIG_FILE" > /tmp/config.yaml; /app/console'
    environment:
      CONFIG_FILEPATH: /tmp/config.yaml
      CONSOLE_CONFIG_FILE: |
        kafka:
          brokers: ["redpanda-0:9092"]
        schemaRegistry:
          enabled: true
          urls: ["http://redpanda-0:8081"]
        redpanda:
          adminApi:
            enabled: true
            urls: ["http://redpanda-0:9644"]
    ports:
      - "8081:8080"
    depends_on:
      - redpanda-0

volumes:
  postgres_data:
  redpanda_data:
